<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Call for Proposals" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= 'frontpage'  if params[:action] ==  'index' %> <%= @conference %>">
    <div id="fb-root"></div>
    <header>
      <%= render 'main/navigation' %>
    </header>
    <main role="main">
      <%= render 'main/messages' %>
      <div class="row">
        <%= yield %>
      </div>
    </main>
    <%= javascript_include_tag "application" %>
    <%= render 'main/footer' %>
    <script type="text/javascript">
      // Twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </body>
</html>
